@charset "utf-8";
/*!
 * detail
 * @author ydr.me
 * 2014-09-06 10:58
 */

.m-keyvallist{
}
.m-keyvallist li{
    position: relative;
    min-height: 30px;
    padding-left: 120px;
}

.m-keyvallist .key{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    color: #888;
}

