@charset "utf-8";
/*!
 * list
 * @author ydr.me
 * 2014-09-06 14:08
 */

.m-search {
    position: relative;
    height: 40px;
}

.m-search input {
    position: absolute;
    top: 0;
    left: 0;
    right: 100px;
    width: auto;
}

.m-search button {
    position: absolute;
    width: 100px;
    top: 0;
    right: 0;
}

.m-introduction .fuwu,
.m-introduction .xuqiu {
    width: 50%;
}

.m-introduction .fuwu {
    background-color: #EAF2FD;
}

.m-introduction .xuqiu {
    background-color: #f8f8f8;
}

.m-introduction p {
    padding: 10px;
    text-align: center;
}

.m-introduction .desc {
    height: 60px;
    line-height: 20px;
    text-align: left;
}


.m-tourong a{
    display: block;
    background: #EDF5FF;
    border-bottom: 1px solid #CEDFF7;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    color: #444;
}

.m-tourong a:hover,
.m-tourong a:active{
    background: #DCEAFC;
    border-color: #A5C2EC;
}
