@charset "utf-8";
/*!
 * post
 * @author ydr.me
 * 2014-09-06 14:30
 */

.m-form .money-min,
.m-form .money-max {
    position: relative;
    height: 50px;
}

.m-form .money-min span,
.m-form .money-max span {
    position: absolute;
    top: 5px;
    left: 0;
    width: 50px;
}

.m-form .money-min input,
.m-form .money-max input {
    position: absolute;
    top: 0;
    left: 60px;
    right: 100px;
    width: auto;
}

.m-form .money-min .u-select,
.m-form .money-max .u-select {
    position: absolute;
    width: 90px;
    top: 0;
    right: 0;
}

.m-form .qixian {
    position: relative;
    height: 50px;
}

.m-form .qixian-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 70px;
}

.m-form .qixian .u-select {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
}

.m-form .qixian-input input,
.m-form .qixian-input span {
    position: absolute;
    top: 0;
}

.m-form .qixian-input .u-ipt {
    width: 45%;
}

.m-form .qixian-input span {
    width: 10%;
    left: 45%;
    top: 5px;
    text-align: center;
}

.m-form .qixian-input .qixian-max {
    right: 0;
}

.m-zijin,
.m-xiangmu,
.m-rongzi,
.m-weituo {
    padding: 10px;
}

.m-tips .btn{
    margin: 10px;
}


.m-form .code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}
.m-form .send {
    margin-left: 100px;
}

.m-form .namewrap{
    position: relative;
    height: 40px;
}

.m-form .namewrap .name{
    position: absolute;
    top: 0;
    left: 0;
    right: 80px;
    width: auto;
}
.m-form .namewrap .u-select{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
}